AUTH_PROJECT_NAME=auth

AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=postgres
AUTH_POSTGRES_DB=postgres

AUTH_LOGGING_LEVEL=INFO
AUTH_CONSOLE_LOGGING_LEVEL=DEBUG

ELASTIC_SEARCH_HOST=elasticsearch
ELASTIC_SEARCH_PORT=9200

AUTH_YANDEX_CLIENT_ID=f4b0621e5824444fb9f75dc9615d8663
AUTH_YANDEX_CLIENT_SECRET=72f59e0cb83a46b5928b01c1ed1f2af5

AUTH_GOOGLE_CLIENT_ID=667412189600-00hppkdbpnm0cuuat895qv6cfs6jn8d6.apps.googleusercontent.com
AUTH_GOOGLE_CLIENT_SECRET=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

# TimeDelta format [±]P[DD]DT[HH]H[MM]M[SS]S
AUTH_ACCESS_TOKEN_LIFETIME=P0DT12H00M0S
AUTH_REFRESH_TOKEN_LIFETIME=P15DT12H00M0S

AUTH_RSA_PRIVATE_PATH=
AUTH_RSA_PUBLIC_PATH=

AUTH_DEBUG=False

AUTH_JAEGER_HOST=
AUTH_JAEGER_PORT=
AUTH_POSTGRES_HOST=
AUTH_POSTGRES_PORT=
AUTH_REDIS_HOST=
AUTH_REDIS_PORT=